
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.home{
    width: 100%;
    height: 100vh;
   background-image: linear-gradient(black, pink);
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    font-weight: 800;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     background: 
    linear-gradient(#1095c1 0 0) no-repeat
    var(--p, 200%) 100% / 200% var(--p, .08em);
  transition: .3s var(--t, 0s), background-position .3s calc(.3s - var(--t, 0s));

}
nav :hover{
/*     color: blueviolet; */
/*     transition: 0.5s; */
/*     font-weight: 800; */
    --p: 100%;
    --t: .3s;
}
nav .logo{
    width: 80px;
    }
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
     text-decoration: none;
     color: #fff;
     font-size: 16px;


}
.content{
    top: 90px;
    position: relative;
    text-align: center;
}
.content .big{
    font-size: 150px;
    color: #fff;
    font-weight: 600;
    
}
.content :hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    transition: 0.5s;
} 
.content a{
    top: 40px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 20px 70px;
    border-radius: 50px;
    margin-top: 20px;


}
/* .video{
    position: absolute;
    left: 0;
    bottom: 0; */
    
}
.about{
    margin: 20px;
    position: relative;
    text-align: center;
    padding: 90px;
    font-weight: 600;
    font-size: 500px;
    color: white;
}
.about:hover{
    -webkit-text-stroke: 0.5px #fff;
    transition: 0.5s;
    color: transparent;
    
}
/*  @media (min-aspect-ratio:16/9 ){
    .video{
        width: 100%;
        height: auto;
        }
}
@media (min-aspect-ratio: ){
    .video{
        width: auto;
        height: 100%;
        }
}  */
